<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <servlet>
    <servlet-name>SValidar</servlet-name>
    <servlet-class>Servlet.SValidar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SValidar</servlet-name>
    <url-pattern>/SValidar</url-pattern>
  </servlet-mapping>

  <!-- Agregar la entrada para mostrar.jsp -->
  <servlet>
    <servlet-name>mostrar</servlet-name>
    <jsp-file>/mostrar.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>mostrar</servlet-name>
    <url-pattern>/mostrar.jsp</url-pattern>
  </servlet-mapping>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>

</web-app>
